body{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
 background-color: #000000;
}

h1 {
font-family: 'Playfair Display', serif;
font-size: 30px;
}

.summary {
  font-family: 'Montserrat', sans-serif;
}

p {
font-family: 'Montserrat', sans-serif;
}


